<li id="<%= dom_id task, :form %>" class="list-group-item">
  <%= form_with(model: task, local:false) do |form| %>
    <div class="mb-2">
      <%= form.label :content, class: "visually-hidden" %>
      <%= form.text_field :content, class: "form-control" %>
    </div>
    <div>
      <div class="d-grid">
        <%= form.submit class: "btn btn-outline-primary " %>
      </div>
    </div>
  <% end %>
</li>
